.textClass {
    background-color:black;
    text-align: right;
    height:30px;
    width: 100%;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
